<div>
    <div class="photoContainer leftFloat">
        <img src="../images/guitar.jpg" data-bind="attr: {alt: shortDesc}" class="photoThumbnail"></img>
    </div>
    <div>
        <span>Brand: </span><span data-bind="text: model().brand" class="textValues"></span>
    </div>
    <div>
        <span>Model: </span><span data-bind="text: model().name" class="textValues"></span>
    </div>
    <div>
        <span>Price: </span><span data-bind="text: my.formatCurrency(salePrice())" class="textValues">
        </span>
    </div>
    <div>
        <span>Description:</span></div>
    <div>
        <span data-bind="text: description" class="textValues"></span>
    </div>
</div>
